* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 192, 211);
    margin: 10vh;
    padding: 10px;
}

.signup-container {
    width: 450px;
    padding: 20px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 20px;

}

input[type="submit"] {
    width: 100%;
    background-color: deeppink ;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;

}

input[type="submit"]:hover {
    background-color: deeppink;
}
.signin {
    border: 2px solid deeppink;
    border-radius: 15px;
    background-color:deeppink;
    color: white;
}
.signin:hover {
    opacity: 0.5;
}
.back {
    width: 100%;
    padding: 10px;
    border: 0.5px solid deeppink;
    background-color:white;
    color: deeppink;
    border-radius: 20px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 800;
    margin-top: 10px ;}
.back:hover {
    opacity: 0.5;}